# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Don't use tabs for indentation.
[*]
indent_style = space

# Code files
[*.{cs,csx,vb,vbx}]
indent_size = 4
insert_final_newline = true
charset = utf-8-bom

# XML project files
[*.{csproj,vbproj,vcxproj,vcxproj.filters,proj,projitems,shproj}]
indent_size = 2

# XML config files
[*.{props,targets,ruleset,config,nuspec,resx,vsixmanifest,vsct}]
indent_size = 2

# JSON files
[*.json]
indent_size = 2

[*.{cs,vb}]
# Organize usings
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false

# 'using' directive preferences
csharp_using_directive_placement = inside_namespace:error
# Forcing to use fully qualified names in usings, like 'using A.B.C;' instead of 'using C;' when the using is defined in  'namespace A.B {}'
csharp_qualified_using_at_nested_scope = true

# SA1623: Property summary documentation should match accessors
dotnet_diagnostic.SA1623.severity = none