<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>

  <appSettings>
    <add key="DebuggerAttachTimeout" value ="0"/>    <!-- 0 => No Debugger Attach otherwise wait for debugger timeout in Seconds -->
    <!-- switch between in-memory and service fabric persistence for testing -->
    <add key="InMemoryPersistence" value="false"/>
    <add key="SSL.UseSSL" value="false"/>
    <add key="RingMaster.SecondaryPreprocessor.RunOnMultiplesOf" value="0" />
    <add key="RingMaster.DebugWatcherLocations" value="false"/>
    <add key="RingMaster.DontStartPseudoNodes" value="false"/>

    <add key="WireBackup.Enable" value="false" />
    <add key="WireBackup.Path" value=".\\WireBackups" />
    <add key="WireBackup.MaxEvents" value="10000" />
    <add key="WireBackup.MaxTimeInSeconds" value="60" />
    <add key="WireBackup.MaxEventsBetweenSnapshots" value="100000" />
    <add key="WireBackup.MaxTimeBetweenSnapshotsInSeconds" value="600" />
    <add key="WireBackup.RetentionSeconds" value="7776000" />

    <add key="RingMaster.Transport.ClientConnection.MaxUnFlushedMillis" value="2"/>
    <add key="RingMaster.Transport.ClientConnection.MaxUnFlushedResponses" value="500"/>
    <add key="RingMaster.Transport.ClientConnection.MaxThreadsPerConnection" value="2"/>
    <add key="RingMaster.Transport.ClientConnection.BufferSizeInBytes" value="40960"/>

    <add key="RingMaster.Transport.ClientSession.MaxUnFlushedMillis" value="2"/>
    <add key="RingMaster.Transport.ClientSession.MaxUnFlushedResponses" value="1000"/>
    <add key="RingMaster.Transport.ClientSession.MaxThreadsPerClient" value="2"/>
    <add key="RingMaster.Transport.ClientSession.BufferSizeInBytes" value="40960"/>

    <add key="RingMaster.Paths.NotAllowedToFail" value="/"/>
    <add key="RingMaster.Paths.IgnoreForLockDown" value="/$tm/lastAppliedTransactionId, /$tm/transactionCrc"/>

    <add key="RingMaster.LockStrategy" value="MultiLevelRWLocks"/>

    <add key="WinFabPersistence.HotSecondary" value="false"/>
    <add key="WinFabPersistence.EnableSFNotificationHandler" value="false"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
