<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="LogFileListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="application.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
  <appSettings>
    <add key="SSL.UseSSL" value="false"/>
    <add key="WireBackup.Enable" value="false" />
    <add key="RingMaster.AllowPoisonPills" value="true"/>
    <add key="RingMaster.DebugWatcherLocations" value="true"/>
    <add key="RingMaster.DontStartPseudoNodes" value="false"/>
    <add key="RingMaster.Paths.NotAllowedToFail" value="/"/>
    <add key="RingMaster.Paths.IgnoreForLockDown" value="/$tm/lastAppliedTransactionId, /$tm/transactionCrc"/>
    <add key="RingMaster.LockStrategy" value="MultiLevelRWLocks"/>
    <add key="RingMasterLimits.MaxNodeNameLength" value="256"/>
    <add key="RingMasterLimits.MaxNodePathLength" value="1024"/>
    <add key="RingMasterLimits.MaxNodeDataSize" value="262144"/>
    <add key="RingMasterLimits.MaxAclsPerNode" value="32"/>
    <add key="RingMasterLimits.MaxAclIdentiferLength" value="256"/>
    <add key="RingMasterLimits.MaxGetChildrenEnumerationCount" value="256"/>
    <add key="RingMasterLimits.MinSortedDictionaryThreshold" value="10"/>
    <add key="RingMasterLimits.MaxSortedDictionaryThreshold" value="15"/>
  </appSettings>
</configuration>