<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <Section Name="Monitoring">
    <Parameter Name="Environment" Value="" MustOverride="true" /> <!-- This setting is required. It identifies if we're running under azure SDK in that case this would be RoleEnvironment -->
    <Parameter Name="Tenant" Value="" MustOverride="true" />
    <Parameter Name="Role" Value="ConnectionStressService" />
    <Parameter Name="IfxSession" Value="" MustOverride="true" />
    <Parameter Name="MdmAccount" Value="" MustOverride="true" />
    <Parameter Name="MdmNamespace" Value="RingMasterStress" />
  </Section>
  <Section Name="EnumerationPerformanceTest">
    <Parameter Name="TargetConnectionString" Value="" MustOverride="true" />
    <Parameter Name="TestPath" Value="" MustOverride="true" />
    <Parameter Name="TimeStream" Value="0" />
    <Parameter Name="MaxChildren" Value="1000" />
    <Parameter Name="MaxConcurrentRequests" Value="1" />
  </Section>
</Settings>
