<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="SSL.UseSSL" value="false"/>
    <add key="SSL.ClientCerts" value="MY/LOCALMACHINE/AF45CF47774649C6627F8CB9CDE4D5ACAE5B92F2"/>
    <add key="SSL.ServerCerts" value="MY/LOCALMACHINE/03E7DA6CF7ED730152E329CB0CDEE37275925D66"/>
  </appSettings>
</configuration>