<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="RWF ruleset" Description=" " ToolsVersion="14.0">
  <Include Path="minimumrecommendedrules.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1027" Action="Warning" />
    <Rule Id="CA2217" Action="Warning" />
    <Rule Id="CA2243" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1025" Action="Warning" />
    <Rule Id="SA1028" Action="Warning" />
    <Rule Id="SA1100" Action="Warning" />
    <Rule Id="SA1101" Action="Warning" />
    <Rule Id="SA1107" Action="Warning" />
    <Rule Id="SA1108" Action="Warning" />
    <Rule Id="SA1111" Action="Warning" />
    <Rule Id="SA1112" Action="Warning" />
    <Rule Id="SA1113" Action="Warning" />
    <Rule Id="SA1114" Action="Warning" />
    <Rule Id="SA1115" Action="Warning" />
    <Rule Id="SA1116" Action="Warning" />
    <Rule Id="SA1117" Action="Warning" />
    <Rule Id="SA1118" Action="Warning" />
    <Rule Id="SA1119" Action="Warning" />
    <Rule Id="SA1120" Action="Warning" />
    <Rule Id="SA1121" Action="Warning" />
    <Rule Id="SA1122" Action="Warning" />
    <Rule Id="SA1123" Action="Warning" />
    <Rule Id="SA1124" Action="Warning" />
    <Rule Id="SA1127" Action="Warning" />
    <Rule Id="SA1128" Action="Warning" />
    <Rule Id="SA1129" Action="Warning" />
    <Rule Id="SA1130" Action="Warning" />
    <Rule Id="SA1131" Action="Warning" />
    <Rule Id="SA1132" Action="Warning" />
    <Rule Id="SA1133" Action="Warning" />
    <Rule Id="SA1134" Action="Warning" />
    <Rule Id="SA1200" Action="Warning" />
    <Rule Id="SA1201" Action="Warning" />
    <Rule Id="SA1202" Action="Warning" />
    <Rule Id="SA1203" Action="Warning" />
    <Rule Id="SA1204" Action="Warning" />
    <Rule Id="SA1205" Action="Warning" />
    <Rule Id="SA1206" Action="Warning" />
    <Rule Id="SA1207" Action="Warning" />
    <Rule Id="SA1208" Action="Warning" />
    <Rule Id="SA1210" Action="Warning" />
    <Rule Id="SA1211" Action="Warning" />
    <Rule Id="SA1212" Action="Warning" />
    <Rule Id="SA1213" Action="Warning" />
    <Rule Id="SA1214" Action="Warning" />
    <Rule Id="SA1217" Action="Warning" />
    <Rule Id="SA1300" Action="Warning" />
    <Rule Id="SA1303" Action="Warning" />
    <Rule Id="SA1304" Action="Warning" />
    <Rule Id="SA1306" Action="Warning" />
    <Rule Id="SA1307" Action="Warning" />
    <Rule Id="SA1308" Action="Warning" />
    <Rule Id="SA1309" Action="Warning" />
    <Rule Id="SA1310" Action="Warning" />
    <Rule Id="SA1311" Action="Warning" />
    <Rule Id="SA1312" Action="Warning" />
    <Rule Id="SA1313" Action="Warning" />
    <Rule Id="SA1400" Action="Warning" />
    <Rule Id="SA1401" Action="Warning" />
    <Rule Id="SA1402" Action="Warning" />
    <Rule Id="SA1403" Action="Warning" />
    <Rule Id="SA1404" Action="Warning" />
    <Rule Id="SA1405" Action="Warning" />
    <Rule Id="SA1407" Action="Warning" />
    <Rule Id="SA1408" Action="Warning" />
    <Rule Id="SA1500" Action="Warning" />
    <Rule Id="SA1502" Action="Warning" />
    <Rule Id="SA1503" Action="Warning" />
    <Rule Id="SA1504" Action="Warning" />
    <Rule Id="SA1512" Action="Warning" />
    <Rule Id="SA1513" Action="Warning" />
    <Rule Id="SA1514" Action="Warning" />
    <Rule Id="SA1515" Action="Warning" />
    <Rule Id="SA1516" Action="Warning" />
    <Rule Id="SA1519" Action="Warning" />
    <Rule Id="SA1520" Action="Warning" />
    <Rule Id="SA1600" Action="Warning" />
    <Rule Id="SA1601" Action="Warning" />
    <Rule Id="SA1602" Action="Warning" />
    <Rule Id="SA1604" Action="Warning" />
    <Rule Id="SA1605" Action="Warning" />
    <Rule Id="SA1606" Action="Warning" />
    <Rule Id="SA1607" Action="Warning" />
    <Rule Id="SA1608" Action="Warning" />
    <Rule Id="SA1610" Action="Warning" />
    <Rule Id="SA1611" Action="Warning" />
    <Rule Id="SA1612" Action="Warning" />
    <Rule Id="SA1613" Action="Warning" />
    <Rule Id="SA1614" Action="Warning" />
    <Rule Id="SA1615" Action="Warning" />
    <Rule Id="SA1616" Action="Warning" />
    <Rule Id="SA1617" Action="Warning" />
    <Rule Id="SA1618" Action="Warning" />
    <Rule Id="SA1619" Action="Warning" />
    <Rule Id="SA1620" Action="Warning" />
    <Rule Id="SA1621" Action="Warning" />
    <Rule Id="SA1622" Action="Warning" />
    <Rule Id="SA1623" Action="Warning" />
    <Rule Id="SA1624" Action="Warning" />
    <Rule Id="SA1625" Action="Warning" />
    <Rule Id="SA1626" Action="Warning" />
    <Rule Id="SA1627" Action="Warning" />
    <Rule Id="SA1632" Action="Warning" />
    <Rule Id="SA1633" Action="Warning" />
    <Rule Id="SA1634" Action="Warning" />
    <Rule Id="SA1635" Action="Warning" />
    <Rule Id="SA1636" Action="Warning" />
    <Rule Id="SA1637" Action="Warning" />
    <Rule Id="SA1638" Action="Warning" />
    <Rule Id="SA1640" Action="Warning" />
    <Rule Id="SA1641" Action="Warning" />
    <Rule Id="SA1642" Action="Warning" />
    <Rule Id="SA1643" Action="Warning" />
    <Rule Id="SA1648" Action="Warning" />
    <Rule Id="SA1649" Action="Warning" />
    <Rule Id="SA1651" Action="Warning" />
    <Rule Id="SA1652" Action="Warning" />
  </Rules>
</RuleSet>