<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Apply the same parameters as in Madari -->
    <add key="RingMaster.MaxAcquireRWLockTimeMillis" value="2000"/>
    <add key="RingMaster.MaxRetryOperationMillis" value="10000"/>

    <!-- Test specific parameters -->
    <add key="MinPayloadSize" value="32"/>
    <add key="MaxPayloadSize" value="128"/>
    <add key="ThreadCount" value="64"/>
  </appSettings>

  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="configConsoleListener"
             type="System.Diagnostics.ConsoleTraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
